.flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #f1f1f1;
  }

  .flex-container > .flex-div  {
    background-color: rgb(162, 193, 224);
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-grow: 1;
  }