<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <img src="../../../assets/logos/logo.png" class="d-inline-block align-top"
      alt="">
  </a>
    <!-- <input type="text" class="form-control" aria-label="Text input with dropdown button"> -->
    
    <div class="input-group">
      <i class="input-icon icon-search"></i>
      <input type="text" style="padding-left: 32px;" class="form-control" placeholder="Search by customer Mail/ID/Name" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
      <button type="button" class="btn btn-primary rounded-0">Alert</button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split rounded-0" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Ecommerce</a>
        <a class="dropdown-item" href="#">Loyalty</a>
        <a class="dropdown-item" href="#">Wallet</a>
      </div>
    </div>
</nav>
