<p>
  plan-update works!


  Create
  Wiki
  Workspace


Navigate Pages

  Welcome

  Magento Integration
          PreRequisites
          UAT to Production
          Tcp Inbound/Outbound port
          Steps to install / uninstall plugin
          Steps to connect your online store to outlet
          How to sync items and sales order between your online store and outlet
          Configuration settings
          CPanel Cron Job Configuratoin
          SalesOrder TroubleShooting
          Items Sync TroubleShooting
          Connection issues

  Internal Doc

  Mobile apps

  Shopify Integration

  myPulse

  Tunneling

  Tax Filing App

  How to approve collections in TRAC

  1 0 0 104

  PayTM Integration

  Exclusife Integration

  UrbanPiper Integration

  Mpesa Payment Integration



Home / Magento Integration / Steps to install / uninstall plugin
Steps to install / uninstall plugin
To establish the connection, you need to download the plugin which is sent to your e-mail

Two things needs to be done

  Magento Admin panel
  GoFrugal POS / GoFrugal HQ



1. Things to be done in Magento Admin Panel
       Following are the steps to install/re-install GoFrugal POS Connect plugin in your Magento server 

Installation steps:

  Open magneto admin panel in the browser
  Provide your admin credentials
  Navigate to System->Magento Connect->Magento Connect Manager

  Magento server will prompt for your admin credentials, do provide them and Log in
  In the Magento Connect Manager, identify Direct package file upload highlighted in green color in the screenshot

  Click on Choose file, and select the GoFrugalPOSConnect.tar plugin the one which you have downloaded
  Click on Upload,to install the plugin with your Magento
  Once installed you can return to admin panel and you can see GoFrugal POS Connect in the menu
  If you are not able to see the GoFrugal POS Connect menu, please check for the file permissions of your Magento root directory in the server and uninstall it and again follow the installation steps.



For users who want to upgrade your version, do following the following steps

Patch Upgradation

   Open Admin Panel of your Magento server
  Provide your Admin Credentials 
  Go to System->Magento Connect->Magento Connect Manager 
  Magento will prompt for your admin panel credentials, do provide them and Log in
  There will be list of extensions installed in your server under Manage Existing Extensions section
  Select Uninstall under the actions column for the GoFrugal_POS_Connect extension and click on commit changes
  Follow the installation steps that is provided above to install the latest GoFrugalPOSConnect extension



Things to be done in GoFrugal POS / GoFrugal HQ
1. For GoFrugal POS

  1. GoFrugal's license is required to integrate your online store to your outlet.There are 2 ways to buy license

      i. In your POS goto Help->About Raymedi RPOS 7/RPOS 6.5->Add on License, identify GoFrugal POS Connect and click buy against that,​ you will be directed to GoFrugal store, wherein you can purchase the license 


                                                                                 (OR)

      ii. Or goto ​GoFrugal store, login  with your customer ​id and contact info and buy the license

  2. After step 1 sync the license that you have bought in  Help->About Raymedi RPOS 7/RPOS6.5->Add on License by clicking on sync button
        

  3. Once you bought the license, an OTP will be generated and sent to your registered e-mail and phone number which will be used to authenticate while you connect your E-commerce Magento server with GoFrugal POS


2. For GoFrugal HQ

  GoFrugal's license is required to integrate your online store to your HQ .Buy license for GoFrugalPosConect for Magento in HQ.Goto ​GoFrugal store, login  with your customer ​id and contact info and buy the license

  Steps to enable Gofrugal POS Connect for Magento in HQ

      1.In Hq, Click About button

      click-about

      2. A pop window will appear,Click Update License button.

      click-update-license

       

      3. Once you bought the license for GoFrugal POS Connect,When you click the update license button,then GoFrugal POS  Connect will be added to HQ.Then you can use Hq in magento.

      license-updated


To proceed with the steps to connect with the GoFrugal POS from your online store click here










Comments (0)
Attachments (3)


Report Abuse Watch this wiki Wiki Index Help Feedback Sign Out

</p>
